body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:15px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}


.cardcontainer
{
	margin-top:5%;
  width:100%;
  height:100%;
	
}




.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  margin: 3em;
  height:16em;
  width:16em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  -o-transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  border-radius:25px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image-url
{
	background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
}


.property-image
{
  height:10em;
  width:16em;
  padding:0em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  -o-transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: rgba(255,255,255,1);
  height:6em;
  width:16em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  -o-transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  transition:all 0.4s cubic-bezier(0.0, 0.045, 0.25, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Property Cards Hover States */

.property-card:hover
{
  border-radius:5px;
  margin: 1em;
  height:20em;
  width:20em;
}


.property-card:hover .property-image
{
  height:15em;
  width:20em;
}

.property-card:hover .property-description
{
	
  height:10em;
  width:20em;
  padding:20px 0em;
}



/* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}

*/